<template>
  <div class="category">
    <aside class="category__side category__side_left">
      <Sidebar :list="list" class="category__sidebar" />
      <Contacts class="category__contacts" :info="page.contacts" />
    </aside>

    <Page :page="page" class="category__page" />
  </div>
</template>

<script>
import Page from "./Page.vue";
import Sidebar from "../components/Sidebar.vue";
import Contacts from "../components/Contacts.vue";
import allPages from "@/pages.js";

export default {
  data() {
    return {
      pages: allPages[this.$route.params.category]
    };
  },

  computed: {
    page: function() {
      return (
        this.pages[this.$route.params.item] || this.pages[this.list[0].route]
      );
    },

    list: function() {
      let list = [];
      for (let prop in this.pages) {
        list.push({
          name: this.pages[prop].title,
          route: prop
        });
      }
      return list;
    }
  },

  components: {
    Sidebar,
    Page,
    Contacts
  }
};
</script>

<style lang='scss'>
.category {
  display: flex;

  &__side {
    &_left {
      max-width: 30%;
      margin-right: 20px;
    }
  }

  &__page {
    flex-basis: 70%;
    margin: auto;
  }
}
</style>