<template>
  <main class="main">

    <h1>{{ page.title }}</h1>
    <img :src="page.img" class="main__img" alt />
    <p class="main__text">{{ page.body }}</p>

    <h2>{{ projects }}</h2>
    <div class="projects">
      <router-link to='/home' class="projects__element" v-for="(item, index) in page.projects" :key="index">
        <img :src="item.img" alt />
        <span class="projects__text">{{item.text}}</span>
      </router-link>
    </div>

  </main>
</template>

<script>
export default {
  data() {
    return {
      headline: this.page.body,
      projects: "Проекты"
    };
  },

  props: ["page"]
};
</script>

<style lang="scss">
.main {
  &__img {
    float: right;
    max-width: 30%;
    margin-left: 30px;
  }

  &__text {
    font-size: 1.2em;
    line-height: 1.4;
    margin-bottom: 60px;
  }

  h1,
  h2 {
    color: #ef615a;
  }
}

.projects {
  display: flex;
  justify-content: space-around;
  margin-left: -20px;

  &__text {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    color: #106d80;
  }

  &__element {
    padding: 20px;
    border-radius: 10px;
    transition: .3s;

    &:hover {
      background: rgba(1, 148, 178, 0.2);
    }
  }
}
</style>