<template>
  <div>
    <Sidebar :list='list' />
    <Page :page='page' />
  </div>
</template>

<script>
import Sidebar from "../components/Sidebar.vue";
import Page from "./Page.vue";
import pages from "@/pages.js";


let list = [];
for (let prop in pages) {
  list.push({
    name: pages[prop].title,
    route: prop,
  })
}

console.log(pages);

export default {
  data() {
    return {
      list,
    };
  },

  computed: {
    page: function() {
      return pages[this.$route.params.item] || pages[list[0].route];
    }
  },

  components: {
    Sidebar,
    Page
  }
};
</script>

<style lang='scss'>
</style>

