<template>
  <aside class="contacts">
    <h2 class="contacts__headline">{{ contacts }}</h2>
    <img class="contacts__img" :src="info.img" alt />
    <div class="contacts__text" v-html="compiledText"></div>
  </aside>
</template>

<script>
import marked from "marked";

export default {
  data() {
    return {
      contacts: "Контакты"
    };
  },

  computed: {
    compiledText: function() {
      return marked(this.info.text);
    }
  },

  props: ["info"]
};
</script>

<style lang='scss'>
.contacts {
  &__headline {
    color: #3f92af;
  }

  &__img {
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 60%;
    display: block;
  }

  a {
    &:hover {
      text-decoration: underline;
      text-decoration-color: #3f92af;
    }

    &[href^='https://vk.com']::after, 
    &[href^='https://vk.com']::after {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 8px;
      vertical-align: middle;
      background: url('~@/assets/vk.svg');

    }
  }
}
</style>