<template>
  <header class="header">
    <div class="header__block">
      <div class="header__title">
        <span>Организации</span>
      </div>
      <ul class="header__menu header__menu_left">
        <li>
          <router-link to="/profession">Профессия</router-link>
        </li>
        <li>
          <router-link to="/creative">Творчество</router-link>
        </li>
      </ul>
    </div>

    <div class="header__logo">
      <img src="@/assets/logo.png" />
    </div>

    <div class="header__block">
      <div class="header__faculty">
        <span>
          Санкт-Петербургский государственный университет
          <br />Факультет Прикладной математики - процессов управления
        </span>
      </div>

      <div>
        <ul class="header__menu header__menu_right">
          <li>
            <router-link to="/manage">Управление</router-link>
          </li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
export default {};
</script>

<style lang='scss'>
.header {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  padding-top: 30px;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 50%;
  }

  &__title {
    font-size: 2.8em;
    font-weight: bold;
    text-align: center;
  }

  &__logo {
    width: 150px;
    margin: 0 40px;
  }

  &__faculty {
    text-align: right;
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    border-image-slice: 1;
    border-top: 2px solid transparent;
    padding: 0;

    &_left {
      border-image-source: linear-gradient(to left, #444 0%, #fff 100%);
    }

    &_right {
      border-image-source: linear-gradient(to right, #444 0%, #fff 100%);
    }

    li {
      cursor: pointer;
      flex-grow: 1;
      text-align: center;
      position: relative;

      a {
        padding: 20px;
        width: 100%;
        display: inline-block;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 2px;
          background: rgb(63, 146, 175);
          transform: scaleX(0);
          transition: 0.3s;
        }

        &:hover::after,
        &.router-link-active::after {
          transform: scaleX(1);
          /* background: rgb(63, 146, 175); */

        }

        &:hover::after {
          background: #ef615a;
        }

        &.router-link-active::after {
          background: rgb(63, 146, 175);

        }
      }
    }
  }
}
</style>