<template>
  <nav class="nav">
    <ul class="nav__list">
      <li v-for="(page, index) in list" :key="index">
        <router-link :to="{name: 'category', params: {item: page.route}}">{{ page.name }}</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    list: Array
  }
};
</script>

<style lang='scss'>
.nav {

  &__list {
    font-weight: bold;
    white-space: nowrap;
    padding: 0;

    li {
      font-size: 20px;

      a {
        width: 100%;
        padding: 10px;
        padding-left: 20px;
        display: inline-block;
        transition: .3s;
        border-left: 4px solid transparent;
      }

      .router-link-active {
        border-left: 4px solid #3f92af;
        color: #3f92af;
      }
    }
  }
}
</style>
