@font-face {
  font-family: 'PF Beau Sans Pro';
  src: url('~@/scss/fonts/PFBeauSansPro-Light.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'PF Beau Sans Pro';
  src: url('~@/scss/fonts/PFBeauSansPro-SemiBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'PF Beau Sans Pro';
  font-size: 16px;
}